{% extends 'stockdata/basic.html' %}

{% block title%} HOME {% endblock title%}
{% block css%}

{%endblock css%}




{%block content%}
<body>
<h5>In finance, market data is price and trade-related data for a financial instrument reported
by a trading venue such as a stock exchange. Market data allows traders and investors to know
the latest price and see historical trends for instruments such as equities, fixed-income products,
    derivatives, and currencies.</h5><br><br>
<strong> So here i am trying to show you the present data as well as historical data of the diffrent diffrent
        MNC company's data.
</strong>

</body>
{% endblock content%}

